:root {
  --green-background: rgb(152, 173, 143);
  --mainContainer-color: rgb(239, 250, 224);
  --cartItems-color: rgb(216, 229, 198);
}

@font-face {
  font-family: 'Urbanist';
  src: url('/Urbanist-VariableFont_wght.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Calibri';
  src: url('/calibri.ttf') format('truetype');
  font-weight: 500;
}

body {
  background-color: var(--green-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
  padding-left: 12px;
  font-family: 'Calibri';
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

header h1 {
  margin: 0;
  font-family: 'Urbanist';
}
header h5 {
  margin: 0;
  font-family: 'Urbanist';
  size: 10px;
}

.background {
  margin-top: 20px;
  width: 90vw;
  height: 92vh;
  background-color: var(--mainContainer-color);
  border-radius: 10px;
}

.mainContainer {
  margin-left: 50px;
  margin-right: 50px;
}

#links {
  margin-left: -12px;
}
#cartContainer {
  display: flex;
  align-items: center;
}
#rightArrow {
  display: flex;
  padding: 0 10px 0 10px;
  height: 17px;
  width: 16px;
}
#cartIcon {
  height: 18px;
  width: 18px;
}
#heartIcon {
  height: 18px;
  width: 18px;
}
#iconContainer {
  display: flex;
  background-color: var(--cartItems-color);
  border-radius: 10px;
}

#verticalLine {
  border-left: 1px solid #000;
  height: 1em;
  margin: 0 10px;
}

hr {
  border: 1px solid #ccc;
  margin: 20px 0;
}

#heroFresh {
  display: flex;
  align-items: center;
}

#imageFresh {
  width: 40px;
  margin-right: 10px;
}

#textFresh {
  width: 100px;
  font-size: 12px;
  font-family: 'Calibri';
}
